<div class="container">
    <div class="login-box">
    <form class="form">
        <h3 class="title"><i>Register</i></h3>
    <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Enter your full name" name="name"
    [(ngModel)] ="name">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter a username" name = "username"
        [(ngModel)] ="username">
        </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Enter a password" value="" name="password" type="password" [(ngModel)]= "password">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter your email" name="email"
        [(ngModel)] ="email">
        </mat-form-field>
    <div class="buttons">
     <button mat-raised-button class="buttons" (click)="register(name,username, password, email)" color="primary">Register</button>
     <span *ngIf="show">
        <h1 style="color: red;"> {{ message }}</h1>
    </span>
    </div>
    </form>
    </div>
    </div>
