<div class="container">
<div class="box">
    <h2 class="title">Checkings</h2>
    <div class="buttons">
        <button class="spacer" (click)="goToTransactions()"><a>Transactions</a></button>
        <button class="spacer" (click)="goToCheckings()"><a>Checking's Accounts</a></button>
        <button class="spacer" ><a>Create</a></button>
    </div>
</div>
<div class="box">
    <h2 class="title">Savings</h2>
    <div class="buttons">
        <button class="spacer" (click)="goToTransactions()"><a>Transactions</a></button>
        <button class="spacer" (click)="goToSavings()" ><a>Saving's Accounts</a></button>
        <button class="spacer" ><a>Create</a></button>

    </div>
</div>
<div class="box">
    <div class="inner">
    <h2 class="title">Profile Or Transactions still deciding</h2>
    </div>
</div>


</div>