<div class="savingDiv">
    <h3>Account Name: {{savingAccount.name}}</h3>
    <p>Balance: ${{savingAccount.balance}}</p>
    <p>Intrest-Rate: {{savingAccount.intrestrate}}%</p>
    <p>Creation Date: {{savingAccount.creationdate | date: 'short'}}</p>
    <div class="buttons">
        <button class="spacer" ><a>Deposit</a></button>
        <button class="spacer" ><a>Withdrawl</a></button>
        <button class="spacer" ><a>Apply Intrest</a></button>
        <button class="spacer" ><a>Delete</a></button>


    </div>
</div>
