<main id = 'main'>
    <div class="info">
        <h2 id="title" class="nice-font">Transactions</h2>
    </div>
    <ng-container *ngIf="transactions.length>0 else message">
        <app-transaction 
        *ngFor = "let transaction of transactions" [transaction]="transaction">  
        </app-transaction>
    </ng-container>
    <ng-template #message>
        <span id="message">This account may have no transactions. Please try selecting the account again or choosing another.</span>
    </ng-template>
   
</main>
